.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #1db7d9 !important;
  }
  
  .Button:active {
    background-color: #1db7d9 !important;
  }
  
  .Button:focus {
    background-color: #1db7d9;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #57c6dfe7;
    color: #3a3a3a;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #1db7d9;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #2274d8;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #1e68c3;
    color: aliceblue;
  }
  
  .Bright {
    background-color: #1db7d9;
    color: aliceblue;
  }