.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
    border-radius: 50%;
    border: 1px solid #a3a3a49f;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }